// MAIN CSS

// VARIABLES
:root {
    --bg: #fafafa;
    --theme: #eb5837;
    --secondary: #d9d9d9;
    --text-primary: #333333;
    --text-secondary: #444444;
    --text-alt: #ffffff;
    --text-alts: #969696;
}
.dark{
    --bg: #1b1b1b;
    --theme: #e25333;
    --secondary: #505050;
    --text-primary: #e6e6e6;
    --text-secondary: #b3b3b3;
    --text-alt: #ffffff;
    --text-alts: #d1d1d1;
}

// MIXIN
@mixin flex($direction, $justify, $align, $gap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

@mixin btn-primary {
    background-color: transparent;
    color: var(--text-primary);
    border: 2px solid var(--text-primary);
    padding: 6px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family : regular, sans-serif;
    font-size : 16px;
    &:hover {
        background-color: var(--theme);
        color: var(--text-alt);
        border: 2px solid transparent;
    }
    @content;

    @media(max-width : 768px){
        padding: 6px 20px;
        font-size : 14px;
    }
}

@mixin header {
    header {
        padding: 60px;
        @include flex(flex, space-between, center, 0);

        h3 {
            font-family: bold, sans-serif;
            font-size: 46px;
            color: var(--theme);
        }

        a {
            text-decoration: none;
            @include btn-primary();
        }
    }

    @media(max-width : 768px){
        header{
            padding : 20px;
            @include flex(column, flex-start, flex-start, 20px);
        }
    }

    @content;
}

// FONTS
@font-face {
    font-family: "bold";
    src: url("../font/bold.ttf") format("truetype");
}
@font-face {
    font-family: "regular";
    src: url("../font/regular.ttf") format("truetype");
}
@font-face {
    font-family: "light";
    src: url("../font/light.ttf") format("truetype");
}

// DEFAULTS
.selected{
    background-color: var(--theme) !important;
    color: var(--text-alt) !important;
    border-color : var(--theme) !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}
body{
    background-color: var(--bg);
    // overflow-x: hidden;
}

/* STYLE SCROLLBAR */
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: var(--bg);
}
::-webkit-scrollbar-thumb {
    background: var(--text-secondary);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--theme);
}

// UNCOMMENT FOR STICKY SCROLL
// html, body {
//   height: 100%;
//   margin: 0;
//   scroll-behavior: smooth;
// }

// main {
//   height: 100vh;
//   overflow-y: scroll;
//   scroll-snap-type: y mandatory;
// }

// section {
//   height: 100vh;
//   scroll-snap-align: start;
// }

// CSS

/////////////////// LANDING //////////////////////////
#landing {
    height: 100vh;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-size: cover;
    background-position: center;

    @media (max-width: 768px) {
        background-position: 50% 50%;
    }
    .hero {
        width: 40%;
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%) scale(1.2);

        @media(max-width : 768px){
            width: 80%;
            left: 50%;
            padding-left: 10px;
        }

        h3 {
            font-size: 40px;
            color: var(--text-alt);
            font-family: bold, sans-serif;

            @media(max-width : 768px){
                font-size: 26px;
            }
        }

        p {
            font-size: 20px;
            color: var(--text-alts);
            font-family: regular, sans-serif;
            margin : 6px 4px;
            @media(max-width : 768px){
                font-size: 14px;
            }
        }

        div {
            @include flex(row, flex-start, center, 20px);
            margin-top: 20px;

            a {
                text-decoration: none;
                font-family: regular, sans-serif;

                &:nth-child(1) {
                    @include btn-primary(){
                        color: var(--text-alt);
                        border-color: var(--text-alt);
                        // background-color: rgba(var(--secondary), 0.7);
                        background-color: transparent;
                    };
                }

                &:nth-child(2) {
                    @include btn-primary() {
                        background-color: transparent;
                        color: var(--text-alts);
                        border-color: var(--text-alts);
                    }
                }
            }
        }
        
    }
    .theme{
        position: absolute;
        bottom: 20px;
        left: 20px;
        cursor: pointer;

        svg{
            width : 40px;
            path{
                fill : transparent;
                stroke: var(--text-secondary);
                transition : 0.2s;
            }
            &:hover{
                path{
                    transition : 0.2s;
                    fill : var(--text-alts);
                    stroke: var(--text-alts);
                }
            }
        }
        @media(max-width : 768px){
            bottom: 10px;
            left: 10px;
        }
    }
}

/////////////////// ABOUT //////////////////////////

#about {
    min-height: 100vh;
    @media (max-width: 768px) {
        height: auto;
        padding-bottom: 20px;
    }
    width: 100%;
    background-color: var(--bg);
    // padding : 0px 40px;
    @include header(){
        @media(max-width : 768px){
            div a{
                display: none;
            }
        }
    };

    .about-container {
        @include flex(row, center, center, 100px);

        @media(max-width : 768px){
            @include flex(column, center, center, 20px);
        }

        .profile-container {
            width: 280px;
            height: 360px;
            position: relative;
            // margin: auto;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 250px;
                // height: 200px;
                z-index: 10;
                object-fit: cover;

            }

            .top-left,
            .bottom-right {
                position: absolute;
                width: 150px;
                height: 150px;
                // border-radius: 10px;
                z-index: 1;
                // box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            }

            .top-left {
                top: 0;
                left: 0;
                background-color: var(--theme);
            }

            .bottom-right {
                bottom: 0;
                right: 0;
                background-color: var(--secondary);
            }
        }

        .about-detail-container {
            width: 40%;
            @include flex(column, flex-start, flex-start, 20px);
            @media(max-width : 768px){
                width: 80%;
            }
            h3 {
                font-family: bold, sans-serif;
                font-size: 40px;
                color: var(--text-primary);
                user-select: text;
                @media(max-width : 768px){
                    font-size: 26px;
                }
            }

            p {
                font-family: regular, sans-serif;
                font-size: 22px;
                color: var(--text-secondary);
                user-select: text;
                @media(max-width : 768px){
                    font-size: 16px;
                }
            }

            .info-container {
                width: 100%;
                margin-top: 10px;
                @include flex(row, space-between, center, 0px);
                
                @media(max-width : 768px){
                    margin-top: 0px;
                    @include flex(column, flex-start, flex-start, 10px);
                }

                div {
                    @include flex(column, center, center, 4px);
                    @media(max-width : 768px){
                        @include flex(row, flex-start, center, 5px);
                    }

                    p {
                        font-family: regular, sans-serif;
                        font-size: 20px;
                        color: var(--text-secondary);
                        user-select: text;
                        @media(max-width : 768px){
                            font-size: 14px;
                        }
                    }

                    p:nth-child(1) {
                        font-family: bold, sans-serif;
                        font-size: 22px;
                        color: var(--text-secondary);
                        user-select: text;
                        @media(max-width : 768px){
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

/////////////////// PROJECTS //////////////////////////
hr {
    width: 100%;
    height: 2px;
    background-color: var(--secondary);
}

#project {
    width: 100%;
    height: 100vh;
    background-color: var(--bg);

    @media(max-width : 768px){
        height: auto;
        padding-bottom: 20px;
    }

    @include header() {
        div {
            @media(max-width : 768px){
                @include flex(row, flex-start, flex-start, 4px);
                flex-wrap: wrap;
            }
            a {
                margin-left: 10px;
                @media(max-width : 768px){
                    margin-left: 4px;
                }

                @include btn-primary() {
                    &:hover {
                        background-color: var(--theme) !important;
                        color: var(--text-alt);
                    }
                }
            }
        }
    }

    .project-container {
        width : 90%;
        margin: 0 auto;
        @include flex(row, flex-start, center, 50px);
        flex-wrap: wrap;

        @media(max-width : 768px){
            width : 100%;
            @include flex(column, center, center, 20px);
        }

        .project {
            border-radius: 10px;
            position: relative;
            width: 300px;
            height: 200px;
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
            
            @media(max-width : 768px){
                width : 80%;
                height : 100% !important;
            }

            img {
                @media(max-width : 768px){
                    width : 100%;   
                    height : 100%;
                }
                border-radius: 10px;
                width: 300px;
                height: 200px;
                object-fit: cover;
            }

            .project-details {
                border-radius: 10px;
                box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 0;
                left: 0;
                backdrop-filter: blur(10px);
                backdrop-filter: brightness(0.4);
                padding: 14px;

                min-width : 300px;
                min-height : 200px;
                @media(max-width : 768px){
                    min-width : 100%;
                    min-height : 100%;
                }
                
                background-color: rgba(var(--text-primary), 0.7);
                @include flex(column, space-between, flex-start, 10px);
                
                display: none;
                h3 {
                    font-family: bold, sans-serif;
                    font-size: 28px;
                    color: var(--text-alt);
                    user-select: text;
                }

                p {
                    font-family: regular, sans-serif;
                    font-size: 18px;
                    color: var(--text-alt);
                    user-select: text;
                }

                ul {

                    list-style-type: none;
                    @include flex(row, flex-start, center, 4px);
                    flex-wrap: wrap;

                    li {
                        border: 2px solid var(--text-alt);
                        padding: 1px 8px;
                        border-radius: 50px;
                        font-family: regular, sans-serif;
                        font-size: 16px;
                        color: var(--text-alt);
                        user-select: text;
                    }
                }

                div {
                    font-family: regular;
                    color: var(--text-primary);
                    @include flex(row, flex-start, center, 6px);

                    a:nth-child(1) {
                        @include btn-primary(){
                            background-color: transparent;
                            color : var(--text-alt);
                            border-color : var(--text-alt);
                            font-family : bold, sans-serif; ;
                        };
                    }

                    a {
                        text-decoration: none;

                        @include btn-primary() {
                            background-color: transparent;
                            color : var(--text-alt);
                            border-color : var(--text-alt);
                            &:hover {
                                background-color: var(--theme) !important;
                                color: var(--text-alt);
                            }
                        }
                    }
                }
            }

        }
    }
}



/////////////////// SKILL //////////////////////////

#skill{
    @include header();
    width: 100%;
    height: 100vh;
    @media(max-width : 768px){ height: auto; padding-bottom: 20px;}
    background-color: var(--bg);

    .skill-container{
        width : 90%;
        margin: 0 auto;
        // width: 100%;

        .skill-topic{
            @include flex(row, flex-start, center, 10px);
            flex-wrap: wrap;
            margin-bottom: 20px;
            @media(max-width : 768px){
                @include flex(column, flex-start, flex-start, 10px);
            }

            .skill-head{
                width : 20%;  @media(max-width : 768px){width : 100%;}
                @include flex(row, flex-start, center, 10px);
                span{
                    display: inline-block;
                    width:  10px;
                    height: 10px;
                    background-color: var(--secondary);
                    border-radius: 50%;
                    @media(max-width : 768px){width : 6px; height : 6px;}
                }
                h3{
                    font-family : bold, sans-serif;
                    font-size: 26px;
                    color: var(--text-secondary);
                    @media(max-width : 768px){font-size : 18px;}
                }
            }

            

            .skillpill-container{
                @include flex(row, flex-start, center, 20px);

                @media(max-width : 768px){
                    @include flex(row, flex-start, flex-start, 10px);
                    flex-wrap: wrap;
                }

                .skillpill{
                    @include flex(row, flex-start, center, 10px);
                    span{
                        display: inline-block;
                        width:  20px;
                        height: 20px;
                        background-color:var(--bg);
                        border-radius: 50%;
                    }
                    background-color: var(--secondary);
                    padding: 8px 26px;
                    border-radius: 50px;
                    font-family: regular, sans-serif;
                    font-size: 22px;
                    color: var(--text-primary);
                    transition : 0.1s ease-in-out;
                    &:hover{
                        // cursor: pointer;
                        transition: 0.1s ease-in-out;
                        background-color: var(--theme);
                        color : var(--text-alt);
                        span{
                            background-color: var(--text-alt);
                        }
                    }

                    @media(max-width : 768px){
                        span{
                            width:  10px;
                            height: 10px;
                        }
                        padding : 4px 16px;
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

/////////////////// CONTACT //////////////////////////

#contact{
    position : relative;
    @include header();
    width: 100%;
    height: 100vh;
    background-color: var(--bg);
    @media(max-width : 768px){ height: auto; padding-bottom: 60px;}
    
    .contact-container{
        @media(max-width : 768px){ width: 80%; margin: 0 auto;}
        @include flex(row, space-evenly, flex-start, 0px);
        @media(max-width : 768px){@include flex(column, center, center, 30px);}
        
        .contact-form{
            form{
                margin : 0 auto;
                @include flex(column, flex-start, flex-start, 10px);

                input{
                    width: 100%;
                    padding : 8px 16px;
                    border : 2px solid transparent;
                    border-radius: 10px;
                    background-color: var(--secondary);
                    color : var(--text-primary);
                    font-size: 20px;
                    font-family : bold, sans-serif;
                    transition : 0.1s;
                    &:hover{
                        transition : 0.1s;
                        border-color : var(--theme);
                    }
                    &:focus{
                        transition : 0.1s;
                        background-color: transparent;
                        border-color : var(--theme);
                    }
                }
                textarea{
                    transition : 0.1s;
                    color : var(--text-primary);
                    width: 100%;
                    padding : 8px 16px;
                    border : 2px solid transparent;
                    border-radius: 10px;
                    background-color: var(--secondary);
                    color : var(--text-primary);
                    font-size: 20px;
                    font-family : regular, sans-serif;
                    resize: none;
                    height : 200px;
                    &:hover{
                        transition : 0.1s;
                        border-color : var(--theme);
                    }
                    &:focus{
                        transition : 0.1s;
                        background-color: transparent;
                        border-color : var(--theme);
                    }
                }
                button{
                    @include btn-primary(){
                        background-color: var(--secondary);
                        border-color: transparent;

                        &:hover{
                            background-color: var(--theme);
                            transition : 0.1s;
                        }
                    };
                }
            }
        }

        .contact-button-container{

            @include flex(column, center, center, 20px);
            // display: grid;
            // grid-template-columns: repeat(3, 1fr); 

            @media(max-width : 768px){
                gap: 10px;
            }

            div{
                @include flex(row, center, center, 20px);
                @media(max-width : 768px){gap : 10px;}
                .contact-btn{
                    cursor : pointer;
                    width : 80px;
                    height : 80px;
                    
                    background-color: var(--secondary);
                    border-radius: 10px;
                    padding : 10px;
                    @media(max-width : 768px){width : 80px; height : 80px;}
                    @include flex(row, center, center, 0px);
                    transition : 0.1s;
                    
                    svg{
                        width : 40px;
                        @media(max-width : 768px){width : 30px;}
                    }
    
                    &:hover{
                        transition : 0.1s;
                        background-color: var(--theme);
                        svg{
                            path{
                                fill : var(--text-alt);
                            }
                        }
                    }
    
                }
            }

            .docs-btn-container{
                a{
                    cursor : pointer !important;
                    text-decoration: none;
                    font-family: regular, sans-serif;
                    @include btn-primary(){
                        text-align: center;
                        width : 130px;
                        background-color: var(--secondary);
                        border-color : var(--secondary);

                        &:hover{
                            a{
                                color : var(--text-alt);
                            }
                            border-color : transparent;
                            background-color: var(--theme);
                        }
                    }
                    // padding : 8px 12px !important;
                }
            }
            
            #emailBtn{
                cursor : pointer;
                background-color: var(--secondary);
                border-radius: 10px;
                padding : 10px;
                @media(max-width : 768px){padding : 0px;}
                transition : 0.1s;
                @include flex(row, center, center, 0px);
                width : 100%;
                text-decoration: none;
                p{
                    margin-left: 20px;
                    color : var(--text-primary);
                    font-family : regular, sans-serif;
                    font-size: 18px;
                }
                svg{
                    width : 40px;
                }
                
                &:hover{
                    transition : 0.1s;
                    background-color: var(--theme);
                    p{
                        color : var(--text-alt);
                    }
                    svg{
                        path{
                            fill : var(--text-alt);
                        }
                    }
                }
            }
        }
    }

    .scrollToTop{
        position : absolute;
        right : 20px;
        bottom : 20px;
        @media(max-width : 768px){display: none;}
        color : var(--text-alt);
        font-family : regular, sans-serif;
        font-size: 18px;
        text-align: center;
        padding-right: 30px;
        @media(max-width :768px){ font-size: 14px;}
        svg{
            width : 64px;
            height : 64px;
            path{
                stroke : var(--text-primary);
            }
        }
    }
}




/////////////////// FOOTER //////////////////////////
footer{
    width : 100%;
    background-color: var(--theme);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding : 4px 0px;
    p{
        color : var(--text-alt);
        font-family : regular, sans-serif;
        font-size: 18px;
        text-align: center;
        @media(max-width :768px){ font-size: 14px;}
    }

}